#!/usr/bin/env bash
set -eo pipefail

echo "Ensuring client is not in blocksync status..."
n=0
until [ $(curl -sS -H "Content-Type: application/json" -d '{"id": 1, "jsonrpc": "2.0", "method": "system_health", "params": []}' http://localhost:9933 | jq -r '.result.isSyncing') == "false" ] | [ $n -ge 30 ]
do
  printf '.'
  sleep 1
done

if [ n -ge 30 ]
then
  echo "Client is still syncing. We'll try again later."
  exit 1
fi

echo "Stopping client..."
systemctl stop polkadot.service

echo "Syncing blockchain to S3..."
aws s3 sync /data/polkadot/chains/ksmcc3/ s3://{{sync_bucket_uri}}

echo "Restarting client..."
systemctl start polkadot.service

echo "Sync complete!"